
node_modules/
dist/
lib/
test-data/
tmp/
log/
.nx/

.idea
*.iml
.vscode
.DS_Store
globalConfig.json
lerna-debug.log

packages/mashroom-content-asset-processing/test/asset-cache
packages/mashroom-content-provider-internal-storage/test/tmp
test/test-server1/data
test/test-server2/data
test/test-server2/strapi5/.strapi
test/test-server2/strapi5/.strapi-updater.json
