
.content-search-hits {

    .content-search-hit {
        margin-bottom: 20px;
    }

    .content-search-hit-title {
        font-weight: bold;
    }

    .content-search-hit-content {
        font-size: 0.9em;
        pre {
            margin: 0;
        }
    }

    .content-search-hit-select {

    }
}
