
.content-edit-style {

    .css-editor {
        margin-top: 20px;
        font-size: 0.9em;
        border : 1px solid #CCC;
    }

    .form-row {
        padding-bottom: 5px;

        label {
            font-weight: bold;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            cursor: pointer;
        }

    }

}
