
.content-edit-content {
    .form-row {
        padding-bottom: 5px;

        label {
            font-weight: bold;
        }

        a {
            display: block;
            margin-bottom: 10px;
        }

        &.horizontal {
            display: flex;

            label {
                width: 120px;
            }

            select, input {
                width: calc(100% - 120px);
            }
        }
    }

    .cm-editor {
        padding: 10px;
        border: 1px solid var(--mashroom-portal-color-black, black);

        &.cm-focused {
            outline: none;
            border-color: var(--mashroom-portal-color-secondary, blue)
        }

        .cm-line {
            white-space: pre-wrap;
        }
    }

}
