
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mashroom-content-media-library-search-bar {
    display: flex;
    position: relative;

    .searching {
        &:before {
            display: block;
            text-align: center;
            margin-top: 4px;
            margin-left: 20px;
            font-family: $FONT_ICON;
            font-weight: bold;
            content: "\f110";
            font-size: 18px;
            animation: spin 1s infinite steps(8);
        }
    }

    .type-filter {
        margin-right: 20px;
    }


    .filter {
        min-width: 250px;
    }
}
